@page
@model laboratory_work_12.Areas.Scientists.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Scientist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scientist.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scientist.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scientist.Specialty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scientist.Specialty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scientist.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scientist.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Scientist.ScientistId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
